<div id="quizContainer">
    <div class="absolute" id="testContainer" [@simpleFadeAnimation]="'in'" *ngIf="dataLoaded">
        <ng-container *ngIf="!finished">
            <div class="absolute fullW" [@simpleFadeAnimation]="'in'" *ngIf="!showingAnswer">
                <mat-card>
                    <mat-card-content>
                        {{quizData.question}}
                    </mat-card-content>

                </mat-card>
                <br>
                <div class="answer-container-horizontal" *ngIf="quizData.mode === constants.MODES[0]">
                    <button (click)="sendAnswer(1)" class="btn-color-green" mat-raised-button>yes</button>
                    <button (click)="sendAnswer(0)" class="push-right btn-color-red" mat-raised-button>no</button>
                </div>
                <div class="answer-container-vertical" *ngIf="quizData.mode === constants.MODES[1]">
                    <button (click)="sendAnswer(1)" mat-raised-button>{{quizData.option1}}</button>
                    <button (click)="sendAnswer(2)" mat-raised-button>{{quizData.option2}}</button>
                    <button (click)="sendAnswer(3)" mat-raised-button>{{quizData.option3}}</button>
                </div>
            </div>
            <div class="align-center absolute fullW" [@simpleFadeAnimation]="'in'" *ngIf="showingAnswer">
                <span *ngIf="answerCorrect">Correct! The right answer is {{ actualAnswer }}</span>
                <span *ngIf="!answerCorrect">Sorry, you are wrong! The right answer is {{ actualAnswer }}</span>
                <br><br>
                <button (click)="nextQuestion()" mat-raised-button>Next</button>
            </div>
        </ng-container>

        <div class="align-center" *ngIf="finished">
            Congratulations, you have finished the test, your result is
            <div class="score">{{quizData.correctAnswers}} / 10</div>
            <button (click)="restartQuiz()" mat-raised-button>Restart Test</button>
        </div>
    </div>
    <mat-spinner class="absolute" diameter="50" [@loaderAnimation]="'in'" *ngIf="!dataLoaded"></mat-spinner>
</div>
